<!DOCTYPE html>
<html lang="en">
<style>
    .LogoSuperior {
        position: absolute;
        top: 3px;
        left: 10px;
    }


    .NomeNetflix {
        position: relative;
        top: 0px;
        left: 50px
    }

    .Home {
        position: relative;
        top: 0px;
        left: 100px
    }


    .Movies {
        position: relative;
        top: 0px;
        left: 150px
    }
 

</style>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NewNeflixFrontEnd</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/NewNeflixFrontEnd.styles.css" asp-append-version="true" />

</head>
<body style ="background-color:#dbdbdb" >

    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-primary border-bottom box-shadow mb-3"style = "height:70px">
            <div class="container-fluid">
                <div class="LogoSuperior">
                    <img src="https://maratonadev.stefanini.com.br/assets/images/Maratona_Imagem_Logo-Stefanini.png"
                         width=50px height=50px>
                </div>
                <div class="NomeNetflix">
                    <a class="navbar-brand " asp-area="" asp-controller="Home" asp-action="Index"><b>Stefaniflix</b></a>
                </div>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
       

                </ul>
            </div>
            </div>
        </nav>
    </header>
    <div class="container">
       
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class=" footer text-muted bg-primary"style = "height:70px">
        <div class="container" style = "color:white">
            &copy; 2022 - NewNeflixFrontEnd - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy </a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    
</body>
</html>
